@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: "Curly Writing";
  src: url("./assets/fonts/Curly-Writing.otf");
}

@font-face {
  font-family: "FBRemington-Regular";
  src: url("./assets/fonts/FBRemington-Regular.ttf");
}

@font-face {
  font-family: "ShineTypewriter";
  src: url("./assets/fonts/ShineTypewriter.ttf");
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  background-color: whitesmoke;
  min-height: 100vh;
}

.container-from {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  text-align: left;
}

.formulario {
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  width: 435px;
  border: 1px solid rgb(17, 24, 39);
  padding: 50px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
}

h1 {
  color: rgb(17, 24, 39);
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "", Courier;
}

label {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(17, 24, 39);
  font-weight: 600;
}

.contenedor-label-fila {
  display: flex;
  gap: 10px;
}

input {
  border-radius: 5px;
  min-width: 400px;
  min-height: 20px;
  margin-top: 10px;
  border-color: rgb(107, 114, 128);
  border-width: 1px;
  padding: 6px 12px 6px 12px;
  font-family: "Nunito", sans-serif;
}

.contenedor-label-fila input {
  min-width: 190px;
}

input:focus {
  border: 2px solid #f2bc57;

  outline: none;
}

textarea {
  border-radius: 5px;
  min-width: 400px;
  min-height: 50px;
  margin-top: 10px;
  padding: 6px 12px 6px 12px;
  font-family: "Nunito", sans-serif;
}

textarea:focus {
  border: 2px solid #f2bc57;
  outline: none;
}

select {
  margin-top: 10px;
  padding: 6px 40px 6px 12px;
  min-width: 200px;
  font-family: "Nunito", sans-serif;
}

select:focus {
  border: 2px solid #f2bc57;
  outline: none;
}

.contenedor-boton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contenedor-boton button {
  margin-top: 20px;
  padding: 12px 20px 12px 20px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  background-color: #f2bc57;
  box-shadow: 1px 1px 2px #b78c5a70;
}

.contenedor-boton button:hover {
  background-color: #956c3d;
  color: white;
}

.contenedor-botones {
  display: flex;
  justify-content: right;
  gap: 1.5rem;
  max-width: 426px;
}

button.boton-secundario {
  background-color: white;
  border: 1px solid #956c3d;
}

button.boton-secundario:hover {
  background-color: rgb(249, 250, 251);
  color: rgb(17, 24, 39);
}

button.boton-mas-ancho {
  width: 130px;
}

.stamp-seleccionado {
  border: 1px solid black;
}

/* common styles*/
a {
  text-decoration: none;
  color: black;
}

button {
  border-radius: 20px;
  border-width: 1px;
  background-color: #f2bc57;
  box-shadow: 1px 1px 2px #b78c5a70;
}

button:hover {
  background-color: #956c3d;
  color: white;
}

.secondary-button {
  background-color: white;
  border: 1px solid #956c3d;
}

.secondary-button:hover {
  background-color: rgb(249, 250, 251);
  color: rgb(17, 24, 39);
}

/*HOMEPAGE*/

#cities-box {
  margin: 50 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#cities-box a {
  color: white;
  text-shadow: 1px 2px 2px rgba(54, 65, 82, 0.623);
}

.main-title {
  color: black;
  text-align: center;
  padding: 15px;
}

.city-card {
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgb(17, 24, 39);
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 7px 1px rgba(54, 65, 82, 0.5);
}

.city-card img {
  width: 100px;
}

/* NAVBAR*/

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f2bc57;
  width: 100%;
}

#burger-menu {
  padding: 5px;
  margin: 10px;
}

#burger-menu ul li {
  list-style-type: none;
}

/* CITY RECOMMENDATIONS */

#cityRecommendation-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#city-info {
  background-color: white;
  border: 1px solid rgb(17, 24, 39);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 15px 50px;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rgb(17, 24, 39);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 15px 50px;
}

.city-info-bg {
  background-color: hsla(0, 0%, 100%, 0.623);
}

#city-info h1,
p {
  margin: auto;
}
#city-info h1,
p {
  margin: auto;
}

/*POSTCARD*/

.postcard {
  background-color: white;
  border: 1px solid rgb(17, 24, 39);
  border-radius: 15px;
  margin: 15px auto;
  width: 80%;
  max-width: 1000px;
  position: relative;
}

.postcard img {
  width: 100%;
  margin: 0;
}

#postcard-image {
  margin: 25px;
}

.postcard h3 {
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px;
  margin: 0;
  margin-left: 20px;
}

.postcard p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3px;
  margin: 0;
  margin-right: 25px;
}

.postcard-back {
  background-color: white;
  border: 1px solid rgb(17, 24, 39);
  border-radius: 15px;
  margin: 15px auto;
  width: 80%;
  max-width: 1000px;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.postcard-content {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  padding: 10px;
  margin: 25px;
}

.postcard-left {
  background-size: contain;
  background-repeat: no-repeat;
  border-right: black solid 1px;
  width: 50%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.postcard-left p {
  margin: 10px;
}

.postcard-right {
  width: 50%;
  padding: 5%;
  position: relative;
}

.stamps {
  width: 50%;
  height: max-content;
  position: absolute;
  right: 0;
  top: 0;
}

.stamps img {
  width: 100%;
}

.postcard-tags {
  position: absolute;
  bottom: 0;
}

.postcard-right p {
  border-bottom: black solid 1px;
  text-align: left;
  margin: 0;
}

.postcard-back button {
  margin: 20px;
}

/* FOOTER */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  margin-top: 50px;
  bottom: 0;
}

/* ABOUT */

#about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#about-app {
  margin: 1% 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#about-app img {
  width: 80%;
  margin-bottom: 10px;
}

#about-app p {
  width: 80%;
  padding: 10px;
  text-align: center;
}

#team {
  background-color: white;
  border: 1px solid rgb(17, 24, 39);
  border-radius: 15px;
  margin: 30px auto;
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.developer {
  margin: 30px;
}
.developer img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}
