@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: "Curly Writing";
  src: url("./assets/fonts/Curly-Writing.otf");
}

@font-face {
  font-family: "FBRemington-Regular";
  src: url("./assets/fonts/FBRemington-Regular.ttf");
}

@font-face {
  font-family: "ShineTypewriter";
  src: url("./assets/fonts/ShineTypewriter.ttf");
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}


/*from*/

.container-form {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  text-align: left;
}

.form {
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  width: 435px;
  border: 1px solid rgb(17, 24, 39);
  padding: 50px;
  border-radius: 5px;
  font-family: "Inria Serif", serif;
}

h1 {
  color: rgb(17, 24, 39);
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "ShineTypewriter"
}

label {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(17, 24, 39);
  font-weight: 600;
}

.contenedor-label-fila {
  display: flex;
  gap: 10px;
}

input {
  border-radius: 5px;
  min-width: 400px;
  min-height: 20px;
  margin-top: 10px;
  border-color: rgb(107, 114, 128);
  border-width: 1px;
  padding: 6px 12px 6px 12px;
  font-family: "Inria Serif", serif;
}

.contenedor-label-fila input {
  min-width: 190px;
}

input:focus {
  border: 2px solid #f2bc57;

  outline: none;
}

textarea {
  border-radius: 5px;
  min-width: 400px;
  min-height: 50px;
  margin-top: 10px;
  padding: 6px 12px 6px 12px;
  font-family: "Nunito", sans-serif;
}

textarea:focus {
  border: 2px solid #f2bc57;
  outline: none;
}

select {
  margin-top: 10px;
  padding: 6px 40px 6px 12px;
  min-width: 200px;
  font-family: "Nunito", sans-serif;
}

select:focus {
  border: 2px solid #f2bc57;
  outline: none;
}

.contenedor-boton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contenedor-boton button {
  margin-top: 20px;
  padding: 12px 20px 12px 20px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  background-color: #f2bc57;
  box-shadow: 1px 1px 2px #b78c5a70;
}

.contenedor-boton button:hover {
  background-color: #956c3d;
  color: white;
}

.contenedor-botones {
  display: flex;
  justify-content: right;
  gap: 1.5rem;
  max-width: 426px;
}

button.boton-secundario {
  background-color: white;
  border: 1px solid #956c3d;
}

button.boton-secundario:hover {
  background-color: rgb(249, 250, 251);
  color: rgb(17, 24, 39);
}

button.boton-mas-ancho {
  width: 130px;
}

.conteiner-stamp{
    display: flex;
    gap:20px;

}

.stamp-seleccionado {
  border: 1px solid black;
}

/*HOMEPAGE*/

#cities-box {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#cities-box a {
  color: black;
}

.main-title {
  color: black;
  text-align: center;
  padding: 15px;
}

.city-card {
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgb(17, 24, 39);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.city-card img {
  width: 100px;
}

/* NAVBAR*/

.containerNavbar {
    width: 99.8dvw;
    padding-top: 10px;
  }
  .contentNavbar {
    max-width: 1280px;
    padding-inline: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inria Serif", serif;
    margin-inline: auto;
  }
  .containerLogoNavbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }
  
  .containerLogoNavbar h1 {
    font-size: 1.2rem;
    font-family: "choco";
    margin: 0;
  }
  .containerLink {
    font-size: 1.1rem;
    display: flex;
    gap: 50px;
  }
  
  
  .navbar-linea {
    background-color:#679499;
    height: 2.5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
  
  }

/* CITY RECOMMENDATIONS */

/* #cityRecommendation-screen {

} */

#city-info {
  background-color: white;
  border: 1px solid rgb(17, 24, 39);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 15px 50px;
}

#city-info img {
  width: 800px;
}

#city-info h1,
p {
  margin: auto;
}

.recommendation-card {
  background-color: white;
  border: 1px solid rgb(17, 24, 39);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 50px;
  padding: 20px;
}

.recommendation-card img {
  border-radius: 15px;
  width: 800px;
}

/* FOOTER */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
}

/* ABOUT */

#about {
  margin: 30px auto;
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.developer img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

/* details */

.details-container {
    display: center;
    align-items: center;
    height: 100vh;
    text-align: left;
    justify-content: center;
  }

  .image-conteiner {
    width: 450px;
    max-width: 450px;
    border-radius: 0%;
    margin-top: 70px;
  }




/* recommendation details */

.postal-card-container-main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.postal-card-container {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 580px;
  border: 1px solid black;
  border-radius: 10px;
}

.postal-card-container img {
  max-height: 350px;
}

.postal-card-container h1 {
  font-size: 2em;
}

.postal-body-container {
  display: flex;
}

.postal-body {
  width: 50%;
}

.stamp-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.stamp-container img {
  max-width: 120px;
}

.postal-body .description {
  padding: 25px;
  font-size: 1.3em;
  line-height: 1.3em;
}

.postal-body.right {
  border-right: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.paragraph-container {
  padding-left: 50px;
  padding-bottom: 30px;  
  display: flex;
  flex-direction: column;  
  gap: 15px;
  width: 85%;
}

.paragraph-container p {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
}

.buttons-container-main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.buttons-container {
  display: flex;
  width: 700px;
  justify-content: flex-end;
  gap: 20px;
}  