.contenedor-formulario {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    text-align: left;
}

.formulario {
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

form {
    width: 435px;
    border: 1px solid rgb(17, 24, 39);
    padding: 50px;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
}

h1 {
    color: rgb(17, 24, 39);
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "", Courier
}

label{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(17, 24, 39);
    font-weight: 600;
}

.contenedor-label-fila {
    display: flex;
    gap: 10px;
}

input{
    border-radius: 5px;
    min-width: 400px;
    min-height: 20px;
    margin-top: 10px;
    border-color: rgb(107, 114, 128);
    border-width: 1px;
    padding: 6px 12px 6px 12px;
    font-family: 'Nunito', sans-serif;
}

.contenedor-label-fila input {
    min-width: 190px;
}

input:focus {
    border: 2px solid #F2BC57;
    
    outline: none;
}

textarea {
    border-radius: 5px;
    min-width: 400px;
    min-height: 50px;
    margin-top: 10px;
    padding: 6px 12px 6px 12px; 
    font-family: 'Nunito', sans-serif;
}

textarea:focus {
    border: 2px solid  #F2BC57;
    outline: none;
}

select {
    margin-top: 10px;
    padding: 6px 40px 6px 12px;
    min-width: 200px;
    font-family: 'Nunito', sans-serif;
}

select:focus {
    border: 2px solid  #F2BC57;
    outline: none;
}


.contenedor-boton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contenedor-boton button {
    margin-top: 20px;
    padding: 12px 20px 12px 20px;
    width: 100px;
    border-radius: 20px;
    border-width: 1px;
    background-color: #F2BC57;
    box-shadow: 1px 1px 2px #b78c5a70
}

.contenedor-boton button:hover {
    background-color: #956c3d;
    color: white;
}

.contenedor-botones {
    display: flex;
    justify-content: right;
    gap: 1.5rem;
    max-width: 426px;
}

button.boton-secundario {
    background-color: white;
    border: 1px solid #956c3d;
}

button.boton-secundario:hover {
    background-color: rgb(249, 250, 251);
    color: rgb(17, 24, 39);
}


button.boton-mas-ancho {
    width: 130px;
}